* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.heading {
  margin: 2rem 0 0 1rem;
  font-weight: 300;
  font-size: 50px;
  font-family: fantasy;
}
section {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, "Ubuntu", Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.go-to-top {
  position: fixed;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: 3px rgb(255, 255, 255) solid;
  border-radius: 30%;
  bottom: 40px;
  color: rgb(12, 12, 12);
  right: 30px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  font-size: 30px;
  pointer-events: none;
  opacity: 0;
  transition: all 0.4s;
}
.go-to-top.active {
  bottom: 50px;
  pointer-events: auto;
  opacity: 1;
}
html {
  scroll-behavior: smooth;
}
.section1 {
  background-color: rgb(239, 155, 10);
  border-top: #393939 0.2rem solid;
}
.section2 {
  background-color: rgb(244, 199, 110);
  border-top: #393939 0.2rem solid;
}
.section3 {
  background-color: rgb(97, 232, 169);
  border-top: #393939 0.2rem solid;
}
.section4 {
  background-color: rgb(68, 217, 236);
  border-top: #393939 0.2rem solid;
  border-bottom: #393939 0.2rem solid;
}
.footer-copy {
  text-align: center;
  font-size: 0.813rem;
  padding-top: 0.5rem;
  color: #a6a6a6;
  margin-bottom: 1rem;
}
a {
  color: #393939;
  text-decoration: none;
}
.name {
  font-style: italic;
}

/* media queries */

@media screen and (max-width: 600px) {
  .heading {
    font-size: 40px;
  }
}
@media screen and (max-width: 435px) {
  .heading {
    font-size: 30px;
  }
}
@media screen and (max-width: 323px) {
  .heading {
    font-size: 20px;
  }
}
